<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nofatclips.crawler"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <instrumentation android:targetPackage="com.eleybourn.bookcatalogue" android:name="android.test.InstrumentationTestRunner" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">

    <uses-library android:name="android.test.runner" />
    
       <activity android:name="it.unina.android.hardware.intent.CaptureImageIntent">
            <intent-filter>
                <action android:name="it.unina.android.hardware.intent.CaptureImageIntent" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
       </activity>
       
       <activity android:name="it.unina.android.hardware.intent.RecordVideoIntent">
            <intent-filter>
                <action android:name="it.unina.android.hardware.intent.RecordVideoIntent" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
       </activity>
           
    </application>
    
    <!-- necessario per GPS -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <!-- necessario per socket che comunica con ddms -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- necessario per intent relativi alla fotocamera -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
</manifest>